<template lang="pug">
  div
    .container
      .row.page-title.clearfix
        .page-title-left
          h6(class="page-title-heading mr-0 mr-r-5") Author Dashboard
          p(class="page-title-description mr-0 d-none d-md-inline-block") Create or edit problems, blogs
    .container
      .widget-list
        .row
          .col-md-8.widget-holder
            b-nav(pills)
              b-nav-item(active) Problems
              b-nav-item Blogs
        .row
          .col-md-9.widget-holder
            .widget-body.widget-bg
              b-list-group
                b-list-group-item(href="#" class="flex-column align-items-start")
                  .d-flex.w-100.justify-content-between
                    h5(class="mb-1") Item 1
                    small Item content
                b-list-group-item(href="#" class="flex-column align-items-start")
                  .d-flex.w-100.justify-content-between
                    h5(class="mb-1") Item 1
                    small Item content
                  p(class="mb-1") Description

          .col-md-3.widget-holder.pull-right
            .widget-body.widget-bg
              .text-center
                b-button(variant="success" v-b-modal="'authorCreateModal'") Create new problem
    b-modal(id="authorCreateModal" centered title="Create a problem" ok-title="Create") Hello From My Modal!    
</template>


<script>

</script>