<template>
  <div>
    <h5><a href="javascript:void(0);">Log in</a></h5>
    <b-alert variant="danger"
             dismissible
             :show="errors.length != 0"
             @dismissed="errors=null" class="border-danger">
      <p>
        <strong>Whoops! Got some errors</strong>
      </p>
      <ul class="mr-t-10">
        <li v-for="error of errors">
          {{ error }}
        </li>
      </ul>
    </b-alert>
    <form @submit="submitForm">
      <div class="form-group">
        <label for="loj-login-email">Handle or Email</label>
        <input id="loj-login-email" type="text" placeholder="tourist" class="form-control form-control-line"
               name="handleOrEmail" v-model="handleOrEmail">
      </div>
      <div class="form-group">
        <label for="loj-login-password">Password</label>
        <input id="loj-login-password" type="password" placeholder="password" name="password"
               class="form-control form-control-line" v-model="password">
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600" type="submit"
                :disabled="submitting === true">
          <div v-if="submitting === true">
            <i class="fa fa-circle-o-notch fa-spin"></i> Submitting
          </div>
          <div v-else>
            Log in
          </div>
        </button>
      </div>
      <div class="form-group no-gutters mb-0">
        <div class="col-md-12 d-flex">
          <div class="checkbox checkbox-primary mr-auto mr-0-rtl ml-auto-rtl">
            <label class="d-flex">
              <input type="checkbox"> <span class="label-text">Remember me</span>
            </label>
          </div>
          <a href="javascript:void(0)" id="to-recover" class="my-auto pb-2 text-right"><i
              class="material-icons mr-2 fs-18">lock</i> Forgot Password?</a>
        </div>
        <!-- /.col-md-12 -->
      </div>
      <!-- /.form-group -->
      <div class="row btn-list">
        <div class="col-md-6">
          <button type="button" class="btn btn-block btn-facebook ripple" data-toggle="tooltip" data-placement="top"
                  title="Login with Facebook"><i class="social-icons list-icon">facebook</i> facebook
          </button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-block btn-googleplus ripple" data-toggle="tooltip" data-placement="top"
                  title="Login with Google"><i class="social-icons list-icon">googleplus</i> google
          </button>
        </div>
      </div>
      <footer class="col-sm-12 text-center">
        <hr>
        <p>Don't have an account?
          <nuxt-link to="/auth/register" class="text-primary m-l-5"><b>Register here</b></nuxt-link>
        </p>
      </footer>
    </form>
  </div>
</template>

<script>
  export default {
    layout: 'auth',
    middleware: 'auth',
    data () {
      return {
        errors: [],
        handleOrEmail: null,
        password: null,
        submitting: false
      }
    },
    methods: {
      closeErrorMessage () {
        this.errors = []
      },
      submitForm: async function (e) {
        e.preventDefault()

        this.submitting = true

        const userData = {
          'handleOrEmail': this.handleOrEmail,
          'password': this.password
        }

        const resp = await this.$store.dispatch('auth/login', userData)

        this.submitting = false

        if (!resp.success) {
          this.errors = resp.errors
        } else {
          this.$router.push({'name': 'home'})
        }
      }
    }
  }
</script>
