<template>
  <div>
    <h5><a href="javascript:void(0);">User Registration</a></h5>
    <b-alert variant="danger"
             dismissible
             :show="errors"
             @dismissed="errors=null" class="border-danger">
      <p>
        <strong>Whoops! Got some errors</strong>
      </p>
      <ul class="mr-t-10">
        <li v-for="error of errors">
          {{ error }}
        </li>
      </ul>
    </b-alert>
    <form @submit="submitForm">
      <div class="form-group">
        <label for="loj-register-fullname">Your Full Name</label>
        <input id="loj-register-fullname" type="text" placeholder="Name" class="form-control form-control-line"
               name="fullname" v-model="fullname" required>
      </div>
      <div class="form-group">
        <label for="loj-register-user-name">Your Handle</label>
        <input id="loj-register-user-name" type="text" placeholder="tourist" class="form-control form-control-line"
               name="handle" v-model="handle" required>
      </div>
      <div class="form-group">
        <label for="loj-register-example-email">Email</label>
        <input id="loj-register-example-email" type="email" placeholder="johndoe@site.com"
               class="form-control form-control-line" name="email" v-model="email" required>
      </div>
      <div class="form-group">
        <label for="loj-register-email-retype">Retype Email</label>
        <input id="loj-register-email-retype" type="email" class="form-control form-control-line" name="emailRetype"
               v-model="emailRetype" required>
      </div>
      <div class="form-group">
        <label for="loj-register-password">Password</label>
        <input id="loj-register-password" type="password" placeholder="password" v-model="password"
               name="password" class="form-control form-control-line" required>
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-lg btn-primary text-uppercase fs-12 fw-600" type="submit"
                :disabled="submitting === true">

          <div v-if="submitting === true">
            <i class="fa fa-circle-o-notch fa-spin"></i> Submitting
          </div>
          <div v-else>
            Sign me up
          </div>
        </button>
      </div>
      <!-- /.form-group -->
      <div class="row btn-list">
        <div class="col-md-6">
          <button type="button" class="btn btn-block btn-facebook ripple" data-toggle="tooltip"
                  data-placement="top" title="Login with Facebook">
            <i class="social-icons list-icon">facebook</i> facebook
          </button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-block btn-googleplus ripple" data-toggle="tooltip"
                  data-placement="top" title="Login with Google">
            <i class="social-icons list-icon">googleplus</i> google
          </button>
        </div>
      </div>
      <footer class="col-sm-12 text-center">
        <hr>
        <p>Already have an account?
          <nuxt-link to="/auth/login" class="text-primary m-l-5"><b>Log In</b></nuxt-link>
        </p>
      </footer>
    </form>
  </div>
</template>

<script>
  export default {
    layout: 'auth',
    middleware: 'auth',
    data () {
      return {
        errors: null,
        fullname: null,
        handle: null,
        email: null,
        emailRetype: null,
        password: null,
        submitting: false
      }
    },
    methods: {
      closeErrorMessage () {
        this.errors = null
      },
      submitForm: async function (e) {
        e.preventDefault()

        this.submitting = true

        const userData = {
          fullname: this.fullname,
          handle: this.handle,
          email: this.email,
          password: this.password
        }

        const resp = await this.$store.dispatch('auth/register', userData)

        this.submitting = false

        if (!resp.success) {
          this.errors = resp.errors
        } else {
          this.$router.push({'name': 'auth-login'})
        }
      }
    }
  }
</script>