<template lang="pug">
  main(class="main-wrapper")
    .page-title
      h1(class="color-white") {{ statusCode }}
    h3(class="mr-b-5 color-white") {{ errorMessage.message }}
    p(class="mr-b-30 color-white fs-18 fw-200 heading-font-family")
      | {{ errorMessage.subline }}
    nuxt-link(class="btn btn-outline-white btn-rounded btn-block fw-700 text-uppercase"
            to="/") Homepage
</template>
<script>
  export default {
    props: ['error'],
    layout: 'errorPage',
    computed: {
      // a computed getter
      statusCode: function () {
        return this.error.statusCode
      },
      errorMessage: function () {
        switch (this.statusCode) {
          case 404:
            return {
              message: 'Page not found!',
              subline: 'Sorry! the page you are looking is not available'
            }
          default:
            return {
              message: 'Something went wrong!',
              subline: 'Sorry! something unexpected happened'
            }
        }
      }
    }
  }
</script>
